---
import { fakeGql } from "../utils/fakeGql";
import { ProductCard } from "../components/ProductCard";
// import { Product } from "../types/Product";

const res = await fakeGql(`
  query salesChannelProducts($salesChannelId: ID!) {
    salesChannelProducts(salesChannelId: $salesChannelId) {
      edges {
        cursor
        node {
          id
          title
          description
          media {
              id
              type
              source
              alt
              isThumbnail
          }
          price {
              amount
              currencyCode
          }
          options {
              id
              type
              values {
                id
              }
          }
        }
      }    
    }
  }
`, {
    salesChannelId: 'd905fcce-fa90-4197-ac9c-d90e0c0cdc5a'
})

const productList = res.data.salesChannelProducts.edges.map(edge => {
    const data = edge.node;
    return data 
})

---
<div class="flex flex-wrap items-stretch">
  {productList.map((item) => (
      <ProductCard
        href={`/products/${item.id}`}
        image={item.media[0].source}
        title={item.title}
        price={`${item.price.amount} ${item.price.currencyCode}`}
      />
  ))}
</div>